.lockscreen .backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}
.lockscreen .container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 150px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.lockscreen .container p {
  color: seagreen;
  font-weight: bold;
}
